:root {
  --sovereign-font-size-base: 16px;
  --sovereign-space-unit: 0.25rem;
  --sovereign-control-height-md: 2.4rem;
}

[data-scale="smaller"] {
  --sovereign-font-size-base: 14px;
  --sovereign-space-unit: 0.225rem;
  --sovereign-control-height-md: 2.15rem;
}

[data-scale="larger"] {
  --sovereign-font-size-base: 18px;
  --sovereign-space-unit: 0.275rem;
  --sovereign-control-height-md: 2.65rem;
}
